body
{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
p
{
    color: dimgray;
    font-size: 15px;
    text-align: justify;
}
.hello
{
    font-size: 30px;
    color: black;
    font-weight: 450;
    margin-bottom: 0px;
}
.name
{
    font-size: 50px;
    color: #fc5a8d;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Poppins',sans-serif;
}
.top-banner
{
    height: 700px;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.solve-text
{
    margin-bottom: 40px;
}
#top-text
{
    padding-left: 15%;
    padding-top: 10%;
}
#top-img
{
    padding-right: 5%;
    padding-top: 2%;
}
.half-width
{
    float: left;
    width: 40%;
}
.top-banner img
{
    width: 100%;
}
.biography img
{
    width: 100%;
}
.hire-button
{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(-270deg, #fc6594, rgb(255, 0, 136));
    border-radius: 10px;
    font-weight: 500;   
    color: white
}
.biography
{
    height: 700px;
    background-image: url("images/biography-bg.png");
    background-size: cover;
    background-position: center;
}
.biography .bio
{
    font-size: 30px;
    color: black;
    font-weight: 450;
}
.biography p
{
    margin-bottom: 40px;
}
#bio-text
{
    padding-top: 150px;
    padding-left: 50px;
}
#bio-img
{
    padding-left: 100px;
}
.latest-work
{
    height: 550px;
    text-align: center;
    background-image: url("images/latest-work-bg.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.my-work
{
    float: left;
}
.my-work img
{
    width: 25%;
    padding: 10px;
}
.latest-work h3
{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    padding: 6% 0 3% 0;
    margin: 0;
}
.bottom
{
    height: 500px;
}
.last
{
    background-image: url("images/footer-bg.png");
    height: 700px;
    background-size: cover;
    background-position: center;
}
.last h3
{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 4%;
    font-size: 33px;
    font-weight: 520;
    margin: 0px;
}
.last h6
{
    text-align: center;
    font-size: 17px;
    margin: 0px;
    font-weight: 600;
}
.last p
{
    text-align: center;
    margin: 0px;
    padding: 5px;
    font-size: 13px;
    font-weight: 500;
}
#last-text
{
    font-size: 15px;
    font-weight: 450;
    color: black;
    padding-top: 45px;
}
.message
{
    text-align: center;
    margin-top: 8%;
}
.message-button
{
    text-decoration: none;
    padding: 60px 150px;
    background-image: linear-gradient(-270deg, #fc6594, rgb(255, 0, 136));
    border-radius: 10px; 
    color: white;
    position: relative;
}
.mail-text
{
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 50%;
}
.mail
{
    font-size: 20px;
    position: relative;
    font-weight: 500;
    top: 12px;
}
footer p
{
    text-align: center;
    font-size: 15px;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    margin: 0;
    color: white;
    background: linear-gradient(180deg, #40E0D0, #4682B4);
}
@keyframes hang {
    0%
    {
        transform: rotate(6.5deg) scaleX(-1);
    }
    33%
    {
        transform: rotate(6.5deg) scaleX(-1);
    }
    66%
    {
        transform: rotate(6.5deg) scaleX(-1);
    }
    100%
    {
        transform: rotate(-20deg) scaleX(-1);
    }
}
.hang-man
{
    width: 7%;
    position: absolute;
    left: -5%;
    top: -5%;
    transform: rotate(6.5deg) scaleX(-1);
    transform-origin: 100% 0%;
}
body:hover .hang-man
{
    animation: hang 1.2s ease-out 0s infinite alternate;
}